@import url('');

html{
    min-height: 100vh;
    background-image: linear-gradient(#9c1313, rgb(74, 2, 2));
}

body {

    font-size: 25px;
    color: #ffffff;
    /* font-family: '' , ; */
    font-family: 'Domine', serif;

}

h1 { 
    color: #ffffff;
    font-family: 'Domine', serif;

    font-weight: 600;
    padding-left: .5em;
}

h5 {

    padding-left: .5em;

}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }