
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
html{
    min-height: 100vh;
    background-image: linear-gradient(#9c1313, rgb(74, 2, 2));
    padding: .5em;
}

body {

    font-size: 25px;
    color: #ffffff;
    /* font-family: '' , ; */
    font-family: 'Domine', serif;

}

h1 { 
    color: #ffffff;
    font-family: 'Domine', serif;

    font-weight: 600;
    padding-left: .5em;
}

h5 {

    padding-left: .5em;

}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  .book img {
    width: 80px;
    margin-bottom: 10px;
  }

  #navUL {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
  }

  #navLI {
    float: left;
    list-style-type: none;
  }

  #navLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    border: darkred;
    border-style: solid;
  }

  #navLI a:hover {
    background-color: goldenrod;
    border: orange;
    border-style: inset;
    color: darkred;
  }