<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<ul id="navUL">
  <li id="navLI"><a href="/">Home</a></li>
  <li id="navLI"><a href="/books/search">Search</a></li>
  <li id="navLI"><a href="/books/list">Library Database</a></li>
  <li id="navLI"><a href="/books/borrow">Borrow</a></li>
  <li id="navLI"><a href="/books/return">Return</a></li>
</ul>
<h2>Search for a Book to Borrow</h2>

<form method="POST" action="/books/borrow">
  <input type="text" name="query" placeholder="Enter book title" required>
  <button>Search</button>
</form>
<!-- <a href="/"> Home</a> -->
</body>
</html>