<!DOCTYPE html>
<html>
<head>
  <title>Library App</title>
</head>
<body>
  <h1>Welcome to the Library App</h1>

  <ul>
    <li><a href="/books/search">Search / Add Books</a></li>
    <li><a href="/books/list">List Books</a></li>
    <li><a href="/books/borrow">Borrow Books</a></li>
  </ul>
</body>
</html>
