<!DOCTYPE html>
<html>

<head>
  <title>Library App</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">

</head>

<body>
  <h1>Welcome to the Library App</h1><br>
  <h5>Our library system allows users to check the availability of books and add them to the database</h5>

  <ul>
    <li><a href="/books/search">Search / Add Books</a></li>
    <li><a href="/books/list">List Books</a></li>
    <li><a href="/books/borrow">Borrow Books</a></li>
    <li>Return Books (TBD)</li>

  </ul>
</body>
</html>
