<!DOCTYPE html>
<html>
<head>
  <title>Return</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<ul id="navUL">
  <li id="navLI"><a href="/">Home</a></li>
  <li id="navLI"><a href="/books/search">Search</a></li>
  <li id="navLI"><a href="/books/list">Library Database</a></li>
  <li id="navLI"><a href="/books/borrow">Borrow</a></li>
  <li id="navLI"><a href="/books/return">Return</a></li>
</ul>
<h2>Return a Book</h2>

<form method="POST" action="/books/return">
  <label>Email used to borrow:</label>
  <input type="email" name="email" required>
  <button>Find My Books</button>
</form>

<!-- <a href="/">Home</a> -->
</body>
</html>