<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<ul id="navUL">
  <li id="navLI"><a href="/">Home</a></li>
  <li id="navLI"><a href="/books/search">Search</a></li>
  <li id="navLI"><a href="/books/list">Library Database</a></li>
  <li id="navLI"><a href="/books/borrow">Borrow</a></li>
  <li id="navLI"><a href="/books/return">Return</a></li>
</ul>
<h2>Search / Add Books</h2>
<input id = "query" placeholder="Search for Books to Add to Library" >
<button onclick = "searchBooks()">Search </button>

<div id = "results"></div>

<script src ="/search.js"></script>
</body>
</html>