<h2>Search / Add Books</h2>
<input id = "query" placeholder="Search for Books to Add to Library" >
<button onclick = "searchBooks()">Search </button>

<div id = "results"></div>

<script src ="/search.js"></script>
    